<div class="col-3 text-white">
    <h6 class="p-0 m-2"><i class="bi bi-person-circle"></i> Иванов Иван Иванович</h6>
    <h6 class="p-0 m-2"><i class="bi bi-envelope-at"></i> ivanov23@fire.com</h6>
    <hr>
    <h6 class="p-0 m-2"><i class="bi bi-key"></i> Сменить пароль</h6>
    <hr>
    <h6 class="p-0 m-2"><i class="bi bi-door-open"></i> Выйти</h6>
    <hr>
    <h6 class="p-0 m-2">Object A</h6>
    <div class="alert alert-dark" role="alert">
        <p><strong>Ответственный</strong><br>Петров Петр Петрович</p>
        <p><strong>Телефон</strong> 89169213594</p>
        <p><strong>Почта</strong> vanov23@fire.com</p>
    </div>
    <p class="alert alert-dark" role="alert"><strong>Пожарные</strong> 89169213594</p>
    <p class="alert alert-dark" role="alert"><strong>Скорая</strong> 89169213594</p>
    <p class="alert alert-dark" role="alert"><strong>МЧС</strong> 89169213594</p>
    <hr>
    <h6 class="p-0 m-2">Object B</h6>
    <div class="alert alert-dark" role="alert">
        <p><strong>Ответственный</strong><br>Петров Петр Петрович</p>
        <p><strong>Телефон</strong> 89169213594</p>
        <p><strong>Почта</strong> vanov23@fire.com</p>
    </div>
    <p class="alert alert-dark" role="alert"><strong>Пожарные</strong> 89169213594</p>
    <p class="alert alert-dark" role="alert"><strong>Скорая</strong> 89169213594</p>
    <p class="alert alert-dark" role="alert"><strong>МЧС</strong> 89169213594</p>
</div>