<div class="d-inline-block text-end">
    <button type="button" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" data-bs-title="Только непрочитанные"><i
            class="bi bi-check2"></i></button>
    <button type="button" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" data-bs-title="Отметить все прочитанными"><i
            class="bi bi-check-all"></i></button>
    <button type="button" class="btn btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" data-bs-title="Обновить"><i class="bi bi-arrow-clockwise"></i>
    </button>
</div>